<h1>Listing trips</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Tour name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Organizer</th>
    <th>Destination</th>
    <th>Trip type</th>
    <th>Trip status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.code %></td>
    <td><%= trip.tour_name %></td>
    <td><%= trip.start_date %></td>
    <td><%= trip.end_date %></td>
    <td><%= trip.organizer %></td>
    <td><%= trip.destination %></td>
    <td><%= trip.trip_type %></td>
    <td><%= trip.trip_status %></td>
    <td><%= link_to 'Show', trip %></td>
    <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
    <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip', new_trip_path %>
