%p#notice= notice
%p
  %b Name:
  = @planner.name
%p
  %b Email:
  = @planner.email
= link_to 'Edit', edit_planner_path(@planner), class: "btn btn-large btn-primary"
|
\#{link_to 'Back', planners_path, class: "btn btn-large btn-primary"}
