<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @planner.name %>
</p>

<p>
  <b>Email:</b>
  <%= @planner.email %>
</p>


<%= link_to 'Edit', edit_planner_path(@planner), class: "btn btn-large btn-primary" %> |
<%= link_to 'Back', planners_path, class: "btn btn-large btn-primary" %>
